{% extends 'base.html' %}
{% load i18n %}

{% block title %}Bosh sahifa{% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
<!-- <div id="carouselExample" class="carousel slide" style="width:100%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./media/images/Alienware.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./media/images/kali-linux-hacking-kali-linux-nethunter-linux-blue-hd-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./media/images/kali-linux-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> -->

    <head>
        <title>conference</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <style>
            body {
                /* background-position: center; */
                /* transition: all 0.3s ease; */
                scroll-behavior: smooth; 
                animation: clip 3s ease 1 normal;
            }
           
            #navbar-style {
                background-image: url('https://avatars.mds.yandex.net/i?id=756fba0346e6599fe58a146191690bba_l-4572119-images-thumbs&n=13');
                background-position: center;   /* Tasvirni o'rtasidan joylashtirish */
                font-family: 'Roboto', sans-serif;
                font-size: 15px !important;
                background-repeat: no-repeat;
                background-size: cover;
                box-sizing: border-box;

            }
            #navbar-brand {
                transition: transform 0.3s ease, color 0.3s ease;
            }
            a:hover {
                opacity: 0.8;
                transition: all 0.3s ease;
                transform: translateY(-3%)
            }
            #social i {
                margin: 5rem 0;
                font-size: 1.3rem;
            }
            #social a {
                text-decoration: none;
                color: white;
                margin: 3rem;
            }
            #social div {
                margin: 1.7rem auto;
            }
            #social {
                @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
                font-size: 1.6rem;
            }
            @keyframes clip {
                0% {
                    clip-path: inset(100% 0 100% 0); /* Tezlikning boshida faqat pastki va tepada */
                }
                50% {
                    clip-path: inset(50% 0 50% 0); /* O'rtada sahifa kesiladi, yuqori va pastki o'rtada */
                }
                100% {
                    clip-path: inset(0 0 0 0); /* Animatsiyaning oxirida butunlay ko'rinishga keladi */
                }
                }
            #conference-about {
                animation: clip 3s ease 1 normal;
                overflow: hidden; /* Kesmalarni yashirish */
            }
            </style>
    </head>

    <body>
        <nav id="navbar-style" class="navbar navbar-expand-lg bg-body-tertiary d-flex flex-column" style="font-size: 15px;">
            <div class="container-fluid p-2 d-flex flex-row nav" style="margin-bottom: 2.7rem !important;
">
                <a href="#"><img src="https://hemis.tuitkf.uz/static/crop/2/1/250_250_90_212585174.jpg" alt="logo" style="width: 100px; margin-left: 50px; border-radius: 100px;"></a>
              <a class="navbar-brand p-2 typing-effect" href="#"><b>Bosh sahifa</b></a>
              <a class="navbar-brand p-2" href="#conference-about" style="animation: clip 1s ease-in-out;"><b>Konferensiya haqida</b></a>
              <a class="navbar-brand p-2" href="#anjuman"><b>Anjuman dasturi</b></a>
              <a class="navbar-brand p-2" href="#adress"><b>Bog'lanish</b></a>


              {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <a href="{% url 'superuser_page' %}"><button type="button" style="margin-right: 0.5rem;" class="p-2 btn btn-outline-primary position-relative">
                        Request <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">unread messages</span></span>
                    </button></a>
                    {% endif %}
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0B5ED7;">
                        {{ user.username | title }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'article_create' %}">Yangi maqola</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Kalit so'zni almashtirish</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Chiqish</a>
                        <li><a class="dropdown-item" href="{% url 'article_list' %}">Maqolalar</a></li>

                            <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </li>
                            <li><a class="dropdown-item" href="{% url 'password_reset' %}">Password reset</a></li>
                        
                        </ul>
                    </div>
                {% else %}
                    <form class="d-flex">
                        <a class="p-2" href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary" style="margin-right: 10px;">Kirish</button></a>
                        <a class="p-2" href="{% url 'signup' %}"><button type="button" class="btn btn-primary">Ro'yxatdan o'tish</button></a>
                    </form>
                {% endif %}
              </div>
            </div>
            <div id="cont" class="container-fluid p-2 text-center mb-4" style="animation: clip       1s ease-out forwards;
 width: 85%; box-sizing: border-box; background-color: rgba(0,19,133,0.35);padding: 15px;display: inline-block;">
                <h3 style="padding: 15px; color: white; font-weight: bolder;">
                    XORIJIY OLIMLAR ISHTIROKIDAGI RESPUBLIKA ILMIY-AMALIY ONLAYN ANJUMANI
                </h3>
                <h3 style="padding: 15px; color: #00FFA8; font-weight: bolder;">
                    OMMAVIY OCHIQ ONLINE KURSLARNI YARATISH NAZARIYASI VA AMALIYOTI
                </h3>
            </div>
        </nav>
        <div class="container-fluid d-flex temp justify-content-evenly text-center" style="height: 10rem; color: whitesmoke; background-color: #098DCF; margin-top: 100px; font-weight: bolder; font-size: 2rem;">
            <b class="p-2">1000+<br>Qatnashuvchilar</b>
            <b class="p-2">1<br>Kun</b>
            <b class="p-2">60+<br>Ma'ruzachilar</b>
            <b class="p-2">100+<br>Takliflar</b>
        </div>
        <div style="margin: auto 6rem;">
            <div id="conference-about">
                <div class="container-fluid text-center" style="padding: 80px 6px 10px; color: #0E1133;">
                    <h3><b>Oʻzbekiston Respublikasi Taʼlimni rivojlantirish respublika ilmiy-metodik markazi tomonidan 2025-yil 16-aprel kuni “Ta’lim muhitining transformatsiyasi: zamonaviy o‘qitishda raqamli texnologiyalarning o‘rni” mavzusidagi xalqaro ilmiy-amaliy konferensiya oʻtkazilishi munosabati bilan maqolalar qabul qilish boshlandi.</b></h3> <hr>
                </div>
                <div class="container d-flex">
                    <ul id="anjuman" class="list-unstyled text-left d-inline-block p-2" style="width: 40%;font-size: 1.2rem;">
                                        <li style="font-family: joker;"> <b>1 - sho'ba.</b> Ommaviy ochiq onlayn kurslari (Massive open online course-MOOC) ning zamonaviy holati, muammolari va rivojlanish istiqbollari;</li>
                                        <li style="font-family: joker;"><b>2 - sho'ba.</b> MOOCning maqsadli auditoriyasi va tinglovchilarini aniqlashtirish muammolari;</li>
                                        <li style="font-family: joker;"><b>3 - sho'ba.</b> MOOCni yaratish bosqichlari;</li>
                                        <li style="font-family: joker;"><b>4 - sho'ba.</b> MOOC pedagogik dizayn faoliyati;</li>
                                        <li style="font-family: joker;"><b>5 - sho'ba.</b> MOOC uchun videomahsulotlar ishlab chiqarish.</li>
                                            <li style="font-family: joker;">
                                            <b>Axborot xati:</b><a href="{{ MEDIA_URL }}/media/Axborot xati TATU.pdf" download> <b>Yuklab olish    <!-- download icon by Free Icons (https://free-icons.github.io/free-icons/) -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1.1em" style="margin-left: 0.5rem; margin-bottom: 0.5rem" fill="currentColor" viewBox="0 0 512 512">
                                                  <path
                                                    d="M 288 32 Q 288 18 279 9 L 279 9 L 279 9 Q 270 0 256 0 Q 242 0 233 9 Q 224 18 224 32 L 224 275 L 224 275 L 151 201 L 151 201 Q 141 192 128 192 Q 115 192 105 201 Q 96 211 96 224 Q 96 237 105 247 L 233 375 L 233 375 Q 243 384 256 384 Q 269 384 279 375 L 407 247 L 407 247 Q 416 237 416 224 Q 416 211 407 201 Q 397 192 384 192 Q 371 192 361 201 L 288 275 L 288 275 L 288 32 L 288 32 Z M 64 352 Q 37 353 19 371 L 19 371 L 19 371 Q 1 389 0 416 L 0 448 L 0 448 Q 1 475 19 493 Q 37 511 64 512 L 448 512 L 448 512 Q 475 511 493 493 Q 511 475 512 448 L 512 416 L 512 416 Q 511 389 493 371 Q 475 353 448 352 L 347 352 L 347 352 L 301 397 L 301 397 Q 281 416 256 416 Q 230 416 211 397 L 166 352 L 166 352 L 64 352 L 64 352 Z M 432 408 Q 454 410 456 432 Q 454 454 432 456 Q 410 454 408 432 Q 410 410 432 408 L 432 408 Z"
                                                  />
                                                </svg></b><!-- <i class="fa fa-download"></i> --></a>
                                        </li>
                                        <li style="font-family: joker;">Аnjumanga yuborilgan tezislarni rasmiylashtirishga qoʼyilgan talablar
                                            <a href="/file/anjuman_1_ilova.pdf"><b> 1-ilovada <!-- <i class="fa fa-download"></i> --></b></a> keltirilgan.</li>
                    </ul>
                    <div style="width: 49%;" class="p-2"><img src="{{ MEDIA_URL }}/media/images/image.png" alt="" style="height: 18rem; display: inline-block; margin-left: 50px;"></div>
                </div>
                <div class="container">
                    <hr><div class="benefits-list text-center mb-3">
        
                        <div class="row">
                            <div class="col-lg-6">
                                
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        </div>
        
        
                            <p>Respublika ilmiy-amaliy anjumani ahamiyatini oshirish maqsadida universitetda 2020-yil 18-20-22-may kunlari Jahon banki tomonidan
                            moliyalashtirilayotgan “Zamonaviy onlayn oʼquv markazini tashkil etish” mavzusidagi grant
                            loyihasi doirasida Ispaniyaning Kantabriya Universiteti tomonidan professor -oʼqituvchilar uchun
                            “MOOC ishlab chiqish” mavzusida onlayn videokonferensiya oʼtkaziladi.
                            Videokonferensiya ish rejasi <a href="/file/2-ilova.pdf"><b>2-ilovada </b></a><!-- <i class="fa fa-download"> </i> -->  keltirilgan.</p>
                                                
                            <p><b>Аnjuman Respublika olimlari va qatnashchilari ishtirokida 2020 yil 22 may kuni Toshkent vaqti bilan soat 12:00 da va chet el olimlari ishtirokida 13:00 da ZOOM dasturi orqali onlayn ravishda oʼtkaziladi.
                            <br>Аnjumanda quyidagi havola orqali ishtirok etish mumkin:</b>
                                <b>12:00 da</b>
                            <br><a href="https://us04web.zoom.us/j/73915888684"><b>https://us04web.zoom.us/j/73915888684</b></a>
                            <br>Identifikator konferentsii: 739 1588 8684
                            <br>Parol: 006468
                                
                                </p><p><b>Chet elliklar 13:00 da </b></p>
                                <br><a href="https://zoom.us/j/92592446511?pwd=bnFjVEJIRkR2ZFVSZUt2d2I0Q0UwUT09">
                            <b>https://zoom.us/j/92592446511</b></a>
                            <br>Identifikator konferentsii: 925 9244 6511
                            <br>Parol: MOOC3
                            <p></p>
            </div></div></div>
			
			<hr>


       
        <div id="adress" class="container" style="background-color: whitesmoke; font-size: 1.2rem; font-family: 'Montserrat', sans-serif; padding: 2rem; margin: 3rem auto;">
            <h3 align="center" style="font-size: 1.5rem; font-weight: bold;">Bizning manzil</h3>
            <ul style="list-style: none; margin-left: 6rem;">
                <li style="margin: 2rem;">Manzil: Qarshi shahar, Qarshi-Beshkent yo'li 3-km</li>
                <li style="margin: 2rem;">Murojaat uchun telefonlar: (+99897) 211-99-10, (+99893) 708-72-50, (+99890) 557-30-25</li>
                <li style="margin: 2rem;">Faks: (+99862) 224-67-00 </li>
            </ul>
            
        </div>
        <footer id="social" style="background-color: #007bff; height: 10rem; width: 100%; color: white; text-align: center; font-size: 1.5rem;">
            <div id="icons">
                <a href="#"><i class="bi bi-envelope-fill"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
            </div>
            <div id="links">
                <span><a style="color: white; text-decoration: none;" href="https://kstu.uz/uz" target="_blank">kstu.uz</a>  |  <a href="edu.uz"target="_blank">edu.uz</a>  |  <a href="dtm.uz"target="_blank">dtm.uz</a></span>
            </div>
        </footer>

	

    </body>
</html>
    <!-- <div class="container-xl p-3 mb-2 bg-primary-subtle text-primary-emphasis" style="margin: 3em auto;">
        <h1 style="">Assalomu aleykum..!</h1>
        <hr class="border-2">
        <p>Shaxsiy blogimga xush kelibsiz.</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="{% url 'article_list' %}" type="submit" class="btn btn-primary">{% trans 'postlar' %}</a>

            <button type="submit">{% trans 'Chiqib ketish' %}</button>
        </form>
    </div>
    {% if user.is_authenticated %}
       {{ user.username }}
<a href="{% url 'superuser_page' %}">superuser page</a>

        <p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
    {% else %}
       <p>{% trans "Saytga kirmagansiz" %}</p>
       <a href="{% url 'superuser_page' %}">superuser page</a>
       <a href="{% url 'signup' %}">{% trans 'Signup' %}</a>
       <a href="{% url 'password_reset' %}">{% trans 'password reset' %}</a>
        a href="{% url 'article_list' %}">{% trans 'postlar' %}</a> 


    {% endif %} -->
{% endblock content %}